<!DOCTYPE html>
	<body>
		Les présentes conditions générales (" CGU "), soumises au droit français, ont vocation à régir l'utilisation du site www.woovent.com y compris de tout contenu et toute fonctionnalité accessibles sur le site www.woovent.com et l’application mobile Woovent.
Woovent est un site de gestion des événements entre proches, d'hébergement et de partage de photos, et de discussions entre les participants d’un évènement.
Le site en ligne est accessible à l'adresse www.woovent.com , également disponible sur l’Apple Store. Il est édité par la societé Moment SAS immatriculée au RCS de Bordeaux (792 517 203) .
Le site en ligne (ci-après le " Site ") ainsi que l'application mobile (ci-après l' " Application ") vous permettent de créer :
	•	Des évènements
	•	Des albums photos pour les évènements, mettre en ligne, visualiser et partager sur les réseaux sociaux des images et/ou photos, et de télécharger les photos sur votre appareil
	•	Des discussions instantanées pour les évènements
	•	Un profil
Avant d'utiliser ou de visiter le Site et/ou l'Application, nous vous demandons de bien vouloir lire et accepter ces Conditions Générales d'Utilisation.

Utilisation du service :

1. Enregistrez-vous, créez et paramétrez votre compte en quelques minutes ;
2. Importez vos évènements Facebook
3. Consultez vos évènements Facebook
4. Ajoutez et partagez les photos de vos évènements

Pour le bon fonctionnement et/ou l'amélioration du Site et de l'Application, nous pouvons être amenés à effectuer des modifications sur le contenu d'un utilisateur (par exemple, réduction du poids ou de la taille d'une photo - cette liste est non exhaustive). De même, pour le bon fonctionnement et/ou l'amélioration des services, le Site et/ou l'Application peuvent parfois être en maintenance, et ce pour une durée indéterminée.
Nous tenons aussi à vous indiquer que le bon fonctionnement du Site et de l'Application dépend, en partie, des différents prestataires externes à Moment SAS. Un dysfonctionnement d'éléments externes à Moment SAS peut entrainer des coupures, des erreurs diverses, un ralentissement, un arrêt momentané ou définitif du service. Moment SAS ne peut être tenu pour responsable des conséquences et de ces dysfonctionnements.

Procédure d’inscription à Woovent

L'utilisation de l’application nécessite que l'Utilisateur fournisse des informations personnelles le concernant (Obligatoire : Nom, Prénom, Adresse E-mail, Facultative : Date de naissance, Sexe, Photo de Profil, Numéro de téléphone). A l'issue de la procédure d'inscription (sur la page où l'Utilisateur est invité à enregistrer ses coordonnées), l'Utilisateur s'engage à :
	•	prendre connaissance des informations personnelles le concernant et à les valider ou si nécessaire à apporter les modifications et corrections utiles.
	•	prendre connaissance et accepter les présentes Conditions Générales d’Utilisation.
L'Utilisateur utilise le service Woovent sous son entière responsabilité. Il reconnaît que sa responsabilité peut être engagée, notamment en cas d'usurpation d'identité. L'Utilisateur s'engage à utiliser le service Woovent conformément aux Conditions Générales d’Utilisation, et à la réglementation en vigueur.
L'Utilisateur est responsable de l'utilisation de ses coordonnées et de l'Application stockée sur son appareil. L'Utilisateur est informé que s'il a décidé de s'identifier automatiquement sur cet appareil, tout tiers qui l'utiliserait peut potentiellement utiliser l'Application avec son compte Utilisateur. 
En conséquence, pour limiter ce risque, l'Utilisateur est invité à sécuriser l'accès à son appareil (code d'accès, etc.). 
L'Utilisateur s'engage à fournir des informations exactes, complètes et mises à jour. Dans le cas où les informations fournies sont inexactes, incomplètes ou obsolètes, l'Utilisateur sera seul responsable de tout défaut dans l'exécution du service Woovent.
En cas de modification de ses coordonnées personnelles, l'Utilisateur s'engage à les mettre à jour sur l'Application (sur la page où l'Utilisateur est invité à enregistrer ses coordonnées).
L'Utilisateur accepte de n'utiliser le Service Woovent qu'aux seules fins autorisées par les Conditions Générales d’Utilisation, et toute loi, tout règlement ou toute pratique ou directive généralement acceptée dans les juridictions concernées. 
En conséquence, l'Utilisateur reconnaît être le seul et unique responsable à l'égard de Woovent de tous actes effectués à partir de ses données communiquées lors de l'inscription.
Si l'Utilisateur a connaissance d'une utilisation non autorisée de son compte, il accepte d'en informer Woovent sans délai à l’adresse e-mail :hello@appmoment.fr. 
L'Utilisateur autorise Woovent par les présentes Conditions Générales d’Utilisation à enregistrer et à utiliser, par traitement informatique, les informations fournies par l'Utilisateur.
L'Utilisateur reconnait dès lors que Woovent pourra ainsi s'adresser à toute personne ayant fourni ses coordonnées, des courriers électroniques. Woovent ne pourra être tenue responsable de toute perte ou dommage survenant en cas de manquement aux obligations du présent article.

Couts d’utilisation du service

Le Service est accessible par le réseau Internet. Les frais de connexion sont à la charge de l'Utilisateur.
Il appartient à l'Utilisateur de s'abonner à Internet et de disposer de la configuration nécessaire à l'utilisation du Service et de disposer d'une adresse électronique de messagerie valide et configurée sur son téléphone mobile.

Loi informatique et libertés

Les informations et données concernant l'Utilisateur sont nécessaires à l’utilisation du service, du site internet et de l’application Woovent. Ces informations et ces données sont également conservées à des fins de sécurité, afin de respecter les obligations légales et réglementaires et pour permettre à Woovent d'améliorer et personnaliser les services qu'elle adresse à l'Utilisateur.
Conformément aux dispositions de la loi modifiée Informatique et liberté n° 78-17 du 6 Janvier 1978, le traitement des informations recueillies par Woovent a fait l'objet d'une déclaration à la Commission Nationale de l'informatique et des libertés (CNIL) (N° 1227247).
Le membre dispose d'un droit d'accès et de rectification de ses données à caractère personnel, ce droit pouvant être exercé à tout Woovent par e-mail à hello@appmoment.fr .

Quelques règles à retenir

Afin que tout le monde puisse profiter au mieux des services proposés par Woovent, il convient que vous respectiez certaines règles, aussi bien sur le Site que sur L'Application :
	•	Il est formellement interdit de poster ou de partager des photos d'actes de violences ou tortures sur des êtres vivants ;
	•	Il est formellement interdit sur l'ensemble du Site et de l'Application de tenir des propos à caractère raciste ou violent, ainsi que de proférer quelque type de menace que ce soit envers autrui ;
	•	Il est formellement interdit de poster ou partager des photos à caractère pornographique, pédophile, ou de tout autre nature sexuelle impliquant des êtres humains, qu'ils soient totalement ou partiellement nus ;
	•	De façon générale, vous ne devez faire aucune utilisation illégale du Site et de l'Application. Les utilisateurs de chaque pays affirment avoir pris connaissance et respecter les lois locales en vigueur concernant les services en ligne et de contenus ;
	•	Les mineurs ont accès au Site et à l'Application, cependant il leur est toujours vivement conseillé d'être accompagnés d'une personne majeure lors de l'utilisation du service. L'âge déterminant si vous êtes Mineur ou Majeur est celui conforme aux lois applicables dans votre lieu de résidence ou le lieu d'utilisation du service à un Woovent donné ;
	•	Vous ne devez en aucun cas partager avec qui que ce soit vos identifiants et mots de passe de votre compte. Vous êtes par ailleurs tenus de les conserver dans un endroit, physique ou non, que vous jugez sécurisé et non accessible à une tierce personne.

Vos droits, et les nôtres


	•	Vous êtes considéré comme responsable des photos, des discussions postés depuis votre compte utilisateur ainsi que de tout elements constituant un évènement que vous avez créé;
	•	Vous affirmez que le contenu que vous ajoutez sur le Site ou l'Application ne fait pas l'objet d'un contrat de non diffusion, sous quelque forme que ce soit, entre vous et une tierce partie ;
	•	Vous conservez les droits de propriété intellectuelle et/ou artistique et/ou autres que vous déteniez au préalable sur les photos que vous postez sur le Site ou l'Application ;
	•	Que ce soit en les postant sur le Site ou l'Application, en les commentant, en les partageant ou tout autre action depuis ou vers le Site ou l'Application de façon générale, vous n'acquériez aucun nouveau droit que vous n'auriez eu auparavant sur les photos ;
	•	Toute marque diffusant de la publicité sous quelque forme que ce soit, et dans un cadre contractuel établi au préalable avec Woovent, conserve ses droits sur l'ensemble de son contenu sur le Site et sur l'Application ;
	•	Nous demandons à tout visiteur ou utilisateur du site de n'utiliser en aucun cas à des fins commerciales les photos postées par d'autres utilisateurs et/ou marques, et/ou dont il n'a pas les droits ;
	•	Nous vous invitons expressément à signaler les photos ou commentaires ou tout autre contenu de nature à heurter la sensibilité des utilisateurs du Site ou de l'Application à l’adresse : hello@appmoment.fr ;
	•	Sans toutefois en avoir l'obligation, nous pourrons à tout moment supprimer sans notification préalable une photo, un album, un commentaire, un compte, un profil, un évènement ou toute autre donnée, entres autres si un élément nous a été signalé et/ou si un utilisateur enfreint l'une des conditions mentionnées dans les Conditions Générales d'Utilisation. Cette suppression pourra intervenir dans le cadre d'un choix effectué par nos propres services ;
	•	Suite à la demande d'Autorités régissant, entre autres, les droits à l'image, droit à la propriété intellectuelle, droit à la propriété artistique, Copyright, ainsi qu'à la demande de Représentants de la loi, nous pourrons à tout moment supprimer préalable une photo, un album, un commentaire, un compte, un profil, un évènement ou toute autre donnée, sans notification préalable ;
	•	Nous nous réservons le droit à tout moment de pouvoir refuser et/ou de fermer partiellement ou totalement l'accès au Site et/ou à l'Application à un, plusieurs ou l'ensemble des utilisateurs et visiteurs, sans notification préalable.
L'Utilisateur est responsable de l'installation, de l'exploitation et de la maintenance des équipements techniques nécessaires pour accéder à Woovent ainsi que de leur protection contre toute forme de contamination par des virus ou toute autre logiciel ou code malveillant. Woovent ne garantit aucune compatibilité d'aucune sorte avec une quelconque version de navigateur, du téléphone ou configuration du terminal de l'Utilisateur. Des liens hypertextes peuvent renvoyer vers d'autres sites Web, d'autres contenus ou d'autres ressources. La responsabilité de Woovent ne saurait être engagée dans le cas où d'autres sites, contenus ou ressources, seraient contraires aux dispositions légales ou réglementaires en vigueur. 

Actes malveillants

Vous n'êtes bien entendu pas autorisés à pirater Woovent ou son contenu :
	•	Il est formellement interdit de pirater le Site ou l'Application, ou de diffuser des virus ou tout autre élément malveillant pouvant porter atteinte de quelque façon que ce soit à l'ensemble des services et possessions de Moment SAS, ainsi qu'aux utilisateurs ou visiteurs de Woovent ;
	•	Vous ne pouvez en aucun cas récupérer ou modifier de façon illégale des éléments du Site, de l'Application en général, ou des comptes utilisateurs en particulier ;
	•	Vous ne pouvez pas spammer et/ou envoyer du contenu indésirable sous quelque forme et via quelque média que ce soit aux utilisateurs et visiteurs du Site et de l'Application.
De façon générale, nous vous demandons de rester attentif aux contenus des photos que vous serez amenés à poster, commenter ou visionner. Nous vous demandons de nous signaler toute infraction aux lois locales en vigueur, ainsi qu'à toute loi ou règle concernant les droits de propriété quels qu'ils soient à l’adresse e-mail : hello@appmoment.fr. Nous tenons par ailleurs à vous rappeler que la loi applicable est la loi française.
Les Conditions Générales d'Utilisation peuvent être modifiées et/ou complétées, notamment en fonction des évolutions du Site et de l'Application. Nous vous invitons à les consulter régulièrement. N'hésitez pas à nous contacter pour toute question ou suggestion que vous pourriez avoir sur l'un des points évoqués ci-dessus à l’adresse e-mail : hello@appmoment.fr.
	</body>
</html>
