
<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
  </head>
  <body>
    <h1>Hello World</h1>
    <p><%= url %></p>
    <p>Name Event : <%= eventObject.get("name") %></p>
    <p>Name Event : <%= eventObject["name"] %></p>
  </body>
</html>
