/* ==========================================================================
   Remi B. CSS for Fb Event App
   ========================================================================== */   
@font-face
{
font-family: helvet_normal;
src: url(../fonts/HelveticaNeueLTStd-Roman.otf);
}

@font-face
{
font-family: helvet_bold;
src: url(../fonts/HelveticaNeueLTStd-Bd.otf);
}


.modal-backdrop {

background-color: rgba(0, 0, 0, 0.83);

}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #395898;
}
 
.connection-div {
	text-align: center;
	margin-top: 150px;
	color: white;
} 
 
p { 
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
 }
h1 { 
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
 }
h2 { 
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
 }
 
.nav_under_content a{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
 
.header_nav_link a {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}

.stat_number {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
}

.stat_number_created {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
}

.stat_number_sexe {
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;	
}

.stat_number_big{
	font-family: 'Montserrat', sans-serif;
	font-size: 110px;
	color: rgb(27,27,27);

	bottom: 0;
	position: absolute;
	right: 0;
	margin-right: 25px;
	margin-bottom: 5px;
}
.stat_number_big_text{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 22px;	
	color: #242424;
	padding-top: 72px;
	margin-right: 17px;
	line-height: 20px;
	text-align: right;
}
.position_number{
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
}

.top_name_text{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.number_common_event{
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	color: white;
	display: block;
	margin-bottom: -10px;
	margin-top: 7px;
}

.number_common_event_text{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 18px;
	color: white;
}

.top_name_sentence {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 18px;
	color: white;
}

.fb-send {
	margin-top: 6px;

}


.hiddingDiv {
	padding-top: 25px;

	height: 350px;
	width: 90%;
	margin-top: -21px;
	z-index: 1000;
	position: absolute;
    background: rgba(119,119,119); /* Fall-back for browsers that don't support rgba */
    background: rgba(0,0,0,0.7);
	
	color: white;
	font-size: 29px;
	}
	
/*pour ajuster la taille des modales*/
.modal.modal-wide .modal-dialog {
  width: 70%;
}


.photoWithFriendsClass {
	height: 350px;
	overflow: hidden;
}
	
.photoWithFriendsClass img{
	height: 100%;
	width: auto;
}


.pwfpa {
	margin-left: 35px;
}

.pwfna {
	margin-right: 35px;
	float: right;
	
}

.text_orange {
	color: #fe9d0e;
}

.text_rose {
	color: #dc4863; 
}

.text_bleu {
	color: #3ea3a8; 
}

a.anchor{
	display: block; 
	position: relative; 
	top: -50px; 
	visibility: hidden;
}

.separateur_left{
	border-left: 1px solid rgba(255,255,255,0.61);
}

.navbar-nav > li  {
	height: 50px;
}

.nav_under_content {
	padding-top: 10px;
	padding-bottom: 10px;
	border-right: 1px solid rgba(255,255,255,0.61);
}

.nav_under_content_without_separator{
	padding-top: 10px;
	padding-bottom: 10px;
}

.horizontal_separator {
	border-bottom: 1px solid rgba(255,255,255,0.61);
	margin-bottom: 7px;
	width: 50px;
	display: inline-block ;
}

.horizontal_separator_black {
	border-bottom: 1px solid rgba(0,0,0,0.41);
	margin-bottom: 7px;
	width: 50px;
	display: inline-block;
}

.cover_container_total {
	height: 350px;
}




/* ===================================
    Cover
   =================================== */
.cover_all {
	color: white;
}
   
.header_nav_link {
	/*margin-top: 15px;*/
}

.header_nav_link a{
	color: black;
}

.nav_under {
	background-color:  rgba(255, 255, 255, 0.12);
	position: fixed;
	z-index: 100;
	width: 100%;
}

.nav_under_link{
	/*margin-top: 10px;
	padding-bottom: 10px;*/
}

.nav_under_link a{
	color: white;
}

.profil_picture {
	height: 110px;
	width: 110px;
	
	-moz-border-radius: 55px;
	-webkit-border-radius: 55px;
	border-radius: 55px;
	
	overflow: hidden;
}

.profil_picture img{

		
}

.profil_picture_cover img{
  	-webkit-background-size: cover; /* pour Chrome et Safari */
  	-moz-background-size: cover; /* pour Firefox */
 	-o-background-size: cover; /* pour Opera */
  	background-size: cover; /* version standardisée */
  
	filter: blur(10px); 
	-webkit-filter: blur(10px); 
	-moz-filter: blur(10px);
	-o-filter: blur(10px); -ms-filter: blur(10px);
	filter: url(blur.svg#blur);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
	
    width:100%;
    z-index: -1;
    
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

  /* IE 5-7 */
  filter: alpha(opacity=60);

  /* Netscape */
  -moz-opacity: 0.6;

  /* Safari 1.x */
  -khtml-opacity: 0.6;

  /* Good browsers */
  opacity: 0.6;
}

.profil_picture_cover {
	height: 400px;
	overflow: hidden;
	width: 100%;
	position: absolute;
	z-index: -1;
	background-color: black;
}

.cover_container {
	padding-top: 30px;

}

/* ===================================
    Statistiques
   =================================== */
   
.stats_all {
	background-color: #242424;
	color: white;
} 

.stats_bloc_1 , .stats_bloc_2{
	color: white;

}

.stats_bloc_3{
	color: white;
	background-color: #fe9d0e;
	height: 238px;

}

.invite_recieve , .attendees_profil , .event_participate, .event_created {
	margin-bottom: 5px;
	background-color: #353535;
	padding: 10px 15px 5px;
	
}

.picto_stats {
	position: absolute;
	left: 15px;
	top: 37px;
}

.picto_homme {
	position: absolute;
	right: 15px;
	top : 54px;
}

.picto_femme {
	top : 43px;
}

.picto_chart {
	top : 20%;
}

/* ===================================
    Top Males
   =================================== */
   
.topMale_all {
	background-color: #ebe7df;
	padding-bottom : 70px;
}

.topMale_Name {
	background-color: white;
	height: 190px;
}

.topMale_Count{
	background-color: #fe9d0e;
	height: 190px;
}

.topMale_picture {
	height: 110px;
	width: 110px;
	-moz-border-radius: 55px;
	-webkit-border-radius: 55px;
	border-radius: 55px;
	
	position: absolute;
	margin-top: -55px;
	margin-left: 112px;
	
	overflow: hidden;
	z-index: 10;
	
}



.topMale_Coupe{
	position: absolute;
	width: 61px;
	height: 371px;
	
	margin-top: -186px;
	margin-left: 15px;
	
	z-index: 10;
}

.topMale_1 , .topMale_2 , .topMale_3 {
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 300px;
}

.topMale_ShareToSee a{
	text-decoration: none;
	color: white;	
}

.topMale_ShareToSee a:hover{
	color: white;	
	text-decoration: underline;
}

/* ===================================
    Top Females
   =================================== */
   
.topFemale_all {
	background-color: #242424;
	color: white;
	padding-bottom :  35px;
}

.topFemale_Name {
	background-color: white;
	color: black;
	height: 190px;
}

.topFemale_Count{
	background-color: #dc4863; 
	height: 190px;
}

.topFemale_picture {
	height: 110px;
	width: 110px;
	-moz-border-radius: 55px;
	-webkit-border-radius: 55px;
	border-radius: 55px;
	
	position: absolute;
	margin-top: -55px;
	margin-left: 112px;
	
	overflow: hidden;
	z-index: 10;
	
}

.topFemale_1 , .topFemale_2 , .topFemale_3 {
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 300px;
}

.topMale_Coupe{
	position: absolute;
	width: 61px;
	height: 371px;
	
	margin-top: -186px;
	margin-left: 15px;
	
	z-index: 10;
}

.topFemale_ShareToSee a{
	text-decoration: none;
	color: white;	
}

.topFemale_ShareToSee a:hover{
	color: white;	
	text-decoration: underline;
}

/* ===================================
    Top Event
   =================================== */
   
.topEvent_all {
	background-color: #ebe7df;
	padding-bottom :  70px;
}


.topEvent_box {
	width: 100%;
	height: 170px;
	margin-bottom: 30px;
	overflow: hidden;
	background-color: #242424;
}


.topEvent_cover {
	width: 100%;
	height: auto
}

.topEvent_hover {
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	
	top: 0px;
	height: 170px;
	width: 30%;

}

.topEvent_title {
	text-align: center;
}

.topEvent_hover_name {
	color: white;
	padding : 10px 10px ;

	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	font-weight: bold;
}

.topEvent_details {
	color : rgb(256,154,30);
	padding : 0px 10px ;
	position: absolute; 
	bottom: 0; 
	left: 0;
	
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 12px;
	
}

/* ===================================
    Footer
   =================================== */
   
.footer_all {
	background-color: #242424;
	color: white;
	padding : 30px 0px;
}

.footer_all p{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 12px;
}

.footer_left {
	float :left;
}

.footer_right {
	float : right;
}

@media (max-width: 480px) {
.footer_right {
	float : left;
}
}

/* ===================================
    Share To See Female
   =================================== */

.topFemale_ShareToSee {
	background-color: #dc4863; 
	
}
.topMale_ShareToSee {
	background-color: #fe9d0e;
	
}

.btn_shareToSee_share {
	display: inline;
	
	margin-top: 20px;
	margin-left: 50px;
	position: absolute;
}

.btn_shareToSee_share_bg {
	background-image:  url("../img/btn_fb.png") ;
	width: 252px;
	height: 61px;
	display: inline-block;
}

.btn_shareToSee_like_bg {
	background-image: url("../img/btn_like2.png");
	width: 252px;
	height: 127px;
	display: inline-block;
}

.btn_shareToSee_like{
	display: inline;
	
	margin-top: 20px;
	margin-left: 70px;
	position: absolute;
}

.btn_shareToSee_share , .btn_shareToSee_like {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	
}

.shareToSee_or_text {
	display : inline;
	margin-right: 15px;
	margin-left: 15px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	
}


/*******************************************
loader
*******************************************/

.loading-div {
	background-color: #ece7e0;
	text-align: center;
	height: 100%;
	padding-top: 50px;
	
}

.main-loading-title-big {
	font-family: 'helvet_bold';
	font-size: 20px;
}
.main-loading-title {
	font-family: 'helvet_normal';
	font-size: 16px;
}

.sub-loading-title {
	font-size: 16px;
}

.loader-img-center {
	top: 0;
	margin-top: 2px;
	margin-left: 2px;

}

 @keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-moz-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-webkit-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-o-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-moz-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-webkit-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-o-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-moz-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-webkit-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-o-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        .loading {
            position: relative;
            border-radius: 100%;
			margin-left: auto;
			margin-right: auto;
			margin-top: -246px;
			height: 204px;
			width: 204px;
			margin-bottom: 35px;
        }

        .loading {
            border:8px solid transparent;
            border-color: transparent #fff transparent #FFF;
            -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
            -moz-transform-origin: 50% 50%;
            -o-animation: rotate-loading 1.5s linear 0s infinite normal;
            -o-transform-origin: 50% 50%;
            -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
            -webkit-transform-origin: 50% 50%;
            animation: rotate-loading 1.5s linear 0s infinite normal;
            transform-origin: 50% 50%;
        }

        .loading-container:hover .loading {
            border-color: transparent #E45635 transparent #E45635;
        }
        .loading-container:hover .loading,
        .loading-container .loading {
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }

        #loading-text {
            -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
            -o-animation: loading-text-opacity 2s linear 0s infinite normal;
            -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
            animation: loading-text-opacity 2s linear 0s infinite normal;
            font-size: 18px;
            opacity: 0;
            text-align: center;
            max-width: 360px;
			margin: auto;
        }
        
        
       .comment-loading {
            position: relative;
            border-radius: 100%;
			margin-left: auto;
			margin-right: auto;
			margin-top: -176px;
			height: 132px;
			width: 132px;
			margin-bottom: 35px;
	        border:4px solid transparent;
            border-color: transparent #fff transparent #FFF;
            -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
            -moz-transform-origin: 50% 50%;
            -o-animation: rotate-loading 1.5s linear 0s infinite normal;
            -o-transform-origin: 50% 50%;
            -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
            -webkit-transform-origin: 50% 50%;
            animation: rotate-loading 1.5s linear 0s infinite normal;
            transform-origin: 50% 50%;
       }
       
       
 @media (max-width: 992px) {

	.topFemale_ShareToSee, .topMale_ShareToSee {
		text-align: center;
	}

	.topFemale_picture, .topMale_picture {
		margin-left: 70px;
		
	}
	
	.btn_shareToSee_like_bg {
		margin-left: -31px;
	}
	
	.btn_shareToSee_share {
	margin-left: -70px;
	}
	
	.btn_shareToSee_like {
	margin-left: -55px;
	}
}

@media (max-width: 768px) {
	.cover_container {
		padding-top: 0px;
	}

	.horizontal_separator {
		display: none;
	}
	
	.horizontal_separator_black {
			display: none;
	}
		
	.cover_container_total {
		height: 380px;
	}
	
	.topFemale_picture, .topMale_picture {
		margin-left: 112px;
		
	}
	
	.cover_profilPicture_or_text {
		display: none;
	}
	
	.cover_profilPicture_share_button {
		height: 33px !important;
		text-decoration: none;
	}
	
	.connection-div {
		margin-top: 50px !important;
	}
	
	.loader-img-center {
		height: 148px !important;
	}
	.loading {
		height: 164px;
		width: 164px;
		margin-top: -206px	
	}
	. {
		width: 300px;
	}
	
	.uv-bottom-right , .zopim {
		display : none !important;
	}

}
       
       