

body {
	font-family:Roboto, Arial, sans-serif;
	color:#707070;
	font-size:15px;
	line-height:24px;
	font-weight:300;
	background-color:#f4f4f4;
	-webkit-font-smoothing:antialiased;
	margin: 30px 50px;
}

h1, h2, h3, h4, h5, h6 {
	color:#404040;
	font-family:Raleway, Arial, sans-serif;
	font-weight:400;
	text-rendering:auto;
	margin-top:0px;
}

figure { margin:0px; }
	figure img { width:100%; }

a, a:visited {
	color:#63c378;
	-webkit-transition:background .2s ease, background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;
	-moz-transition:background .2s ease, background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;
	-ms-transition:background .2s ease, background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;
	-o-transition:background .2s ease, background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;
	transition:background .2s ease, background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;
}
a:hover {
	text-decoration:none;
	color:#5a5a5a;
}